body{
  background-color: black;
  color: white;
}

.row{
  text-align: center;
}

#circle{
  height: 805px;
  width: 805px;
  border: 3px solid black;
  border-radius: 50%;
  color: white;
}

.row{
  text-align: center;
}

.left_column{
  width: 850px;
  float: left;
}

.right_column {
  width: 400px;
  float: right;
}

.text{
  float:left;
}

#words{
  display: inline-block;
}

.one{
  display: inline-block;
  color: green;
}
.two{
  display: inline-block;
  color: yellow;
}
.three{
  display: inline-block;
  color: pink;
}
.four{
  display: inline-block;
  color: red;
}
.five{
  display: inline-block;
  color: blue;
}
.six{
  display: inline-block;
  color: orange;
}
.seven{
  display: inline-block;
  color: grey;
}
.eight{
  display: inline-block;
  color: purple;
}
.nine{
  display: inline-block;
  color: lightblue;
}
.zero{
  display: inline-block;
  color: lime;
}
.other{
  display: inline-block;
}
