body{
  color: blue;
}


#circle{
  height: 800px;
  width: 800px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 5px

}


.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}



.row{
  text-align: center;
}
