<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiDay 2015</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/bootstrap/simple-sidebar.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="/stylesheets/blink.css">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        PiDay2015
                    </a>
                </li>
                <li>
                    <a href="/blinkr">Blinkr</a>
                </li>
                <li>
                    <a href="/slices">Slices</a>
                </li>
                <li>
                    <a href="/spiral">Spiral</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

                  <div class="col-xs-12 bgrd pdng">
                    <div class="col-xs-4">
                      <button class="btn btn-primary" type="submit" id="piDuration">DURATION of &pi;</button>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-info" type="submit" id="piOrder">ORDER of &pi;</button>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-danger" type="submit" id="piReset">RESET</button>
                    </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-xs-12 bgrd pdng">
                      <div id="circle"></div>
                  </div>
                 </div>

            </div>
        </div><!-- /#page-content-wrapper -->
        
    </div><!-- /#wrapper -->

    <!-- jQuery -->
    <script src="javascripts/bootstrap/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>
     <script src="/javascripts/blink.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>



          <!-- main area -->
          
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.page-container-->
