<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PI DAY 2015</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/button.css">



</head>

<body>
  <h1> hello </h1>
  <div class="spcrbtm button-440px btn">
    <a href="/blinkr">Blink</a>
  </div>
  <div class="spcrbtm button-440px btn">
    <a href="/slices">Slices</a>
  </div>
  <div class="spcrbtm button-440px btn">
    <a href="/spiral">Spiral</a>
  </div>



  <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>

</body>
</html>
