<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PI DAY 2015</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/button.css">



</head>

<body>
  <div class="page-container">

    <!-- top navbar -->
      <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

          <!-- sidebar -->
          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <ul class="nav">
                <li class="active"><a href="/">PiDay 2015</a></li>
                <li><a href="/blinkr">Blinkr</a></li>
                <li><a href="/slices">Slices</a></li>
                <li><a href="/spiral">Sprial</a></li>
              </ul>
          </div>

          <!-- main area -->
          <div class="col-xs-12 col-sm-10">
            <h1>Happy Pi Day 2015!</h1>

          </div><!-- /.col-xs-12 main -->
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.page-container-->

  <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/javascripts/main.js"></script>

</body>
</html>
