<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiDay 2015</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/bootstrap/simple-sidebar.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="/stylesheets/slices.css">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        PiDay2015
                    </a>
                </li>
                <li>
                    <a href="/blinkr">Blinkr</a>
                </li>
                <li>
                    <a href="/slices">Slices</a>
                </li>
                <li>
                    <a href="/spiral">Spiral</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

            <div class="col-xs-12 col-sm-10">
            <nav class="slices">
              <ul class='circle'>
                <li class='zero dark slice'>
                    <label for='ozero' class='circle'>0</label>
                </li>
                <li class='one dark slice'>
                    <label for='oone' class='circle'>1</label>
                </li>
                <li class='two dark slice'>
                    <label for='otwo' class='circle'>2</label>
                </li>
                <li class='three dark slice'>
                    <label for='othree' class='circle'>3</label>
                </li>
                <li class='four dark slice'>
                    <label for='ofour' class='circle'>4</label>
                </li>
                <li class='five dark slice'>
                    <label for='ofive' class='circle'>5</label>
                </li>
                <li class='six dark slice'>
                    <label for='osix' class='circle'>6</label>
                </li>
                <li class='seven dark slice'>
                    <label for='oseven' class='circle'>7</label>
                </li>
                <li class='eight dark slice'>
                    <label for='oeight' class='circle'>8</label>
                </li>
                <li class='nine dark slice'>
                    <label for='onine' class='circle'>9</label>
                </li>
                <li class='unsel circle'><label for='unsel'></label></li>
              </ul>
            </nav>

          </div><!-- /.col-xs-12 main -->

            </div>
        </div><!-- /#page-content-wrapper -->
        
    </div><!-- /#wrapper -->

    <!-- jQuery -->
    <script src="javascripts/bootstrap/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>
     <script src="/javascripts/slices.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>