/**
 * Circular menu v2
 */
* { margin: 0; padding: 0; }
html { font: 100%/1.3 Century Gothic, Verdana, sans-serif; }
body { overflow: hidden; min-width: 20em; }
.menuopt { display: none; }
.circle, .circle:before, .circle:after { border-radius: 50%; }
nav {
  margin: 5em auto;
  min-width: 16em; width: 80%; max-width: 40em;
}
nav ul {
  position: relative;
  padding: 50%;
  max-width: 0; max-height: 0;
  list-style: none;
  background: white;
}
nav li {
  position: absolute;
  transition: 2s;
}
.slice {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  width: 50%; height: 50%;
  transform-origin: 100% 100%;
}
.unsel {
  top: 34%; left: 34%;
  width: 32%; height: 32%;
  background: black;
}
.zero { transform: skewX(50deg); }
.one { transform: rotate(36deg) skewX(50deg); }
.two { transform: rotate(72deg) skewX(50deg); }
.three { transform: rotate(108deg) skewX(50deg); }
.four { transform: rotate(144deg) skewX(50deg); }
.five { transform: rotate(-180deg) skewX(50deg); }
.six { transform: rotate(-144deg) skewX(50deg); }
.seven { transform: rotate(-108deg) skewX(50deg); }
.eight { transform: rotate(-72deg) skewX(50deg); }
.nine { transform: rotate(-36deg) skewX(50deg); }
.magnifiable { height: 100%; }
nav label { cursor: pointer; }
.slice label {
  display: block;
  width: 200%; height: 200%;
  transform: skew(-50deg) rotate(-70deg);
  box-shadow: 0 0 .1em black;
  opacity: .5;
  color: black;
  font-size: .8em;
  line-height: 1.9;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}
.slice label:before {
  position: absolute;
  top: 10%; left: 10%;
  width: 80%; height: 80%;
  border-radius: 50%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 35% 35%;
  content: '';
}
.slice label:hover { opacity: 1; }
.dark label:hover { color: black; }
.light label:hover { color: black; }
.unsel label {
  display: block;
  height: 100%;
}
.zero label, .ozero:checked ~ nav .unsel { background: #104476;}
.one label, .oone:checked ~ nav .unsel { background: #FDEE50;}
.two label, .otwo:checked ~ nav .unsel { background: #50c878;}
.three label, .othree:checked ~ nav .unsel { background: #96B09D;}
.four label, .ofour:checked ~ nav .unsel { background: #9F79EE;}
.five label, .ofive:checked ~ nav .unsel { background: #c73d32;}
.six label, .osix:checked ~ nav .unsel { background: #00BFFF;}
.seven label, .oseven:checked ~ nav .unsel { background: #B3E612;}
.eight label, .oeight:checked ~ nav .unsel { background: #532C60;}
.nine label, .onine:checked ~ nav .unsel { background: #bf855b;}





.slice label:hover:after { opacity: 0; }
.ozero:checked ~ nav .zero { transform: skewX(50deg) scale(1.05); }
.oone:checked ~ nav .one { transform: rotate(36deg) skewX(50deg) scale(1.05); }
.otwo:checked ~ nav .two { transform: rotate(72deg) skewX(50deg) scale(1.05); }
.othree:checked ~ nav .three { transform: rotate(108deg) skewX(50deg) scale(1.05); }
.ofour:checked ~ nav .four { transform: rotate(144deg) skewX(50deg) scale(1.05); }
.ofive:checked ~ nav .five { transform: rotate(-180deg) skewX(50deg) scale(1.05); }
.osix:checked ~ nav .six { transform: rotate(-144deg) skewX(50deg) scale(1.05); }
.oseven:checked ~ nav .seven { transform: rotate(-108deg) skewX(50deg) scale(1.05); }
.oeight:checked ~ nav .eight { transform: rotate(-72deg) skewX(50deg) scale(1.05); }
.onine:checked ~ nav .eight { transform: rotate(-36deg) skewX(50deg) scale(1.05); }
.ozero:checked ~ nav .zero label,
.oone:checked ~ nav .one label,
.otwo:checked ~ nav .two label,
.othree:checked ~ nav .three label,
.ofour:checked ~ nav .four label,

@media (min-width: 25em) { .slice label { font-size: 1em; line-height: 2.3; } }
@media (min-width: 35em) { .slice label { font-weight: 700; line-height: 2.7; } }
