body {  
  background-color: black;
  color: white;
}

h1{
	text-align: center;
}

.row{
  text-align: center;
}


.plain {
  display: inline-block;
  color: white;
}

.clrd{
  display: inline-block;
  color: #3DFE3D;
}



