#sidebar-wrapper{
	background: #98FF98;
	text-align: center;
}

.sidebar-nav li a {
    color: black;
}


.sidebar-nav > .sidebar-brand a {
    color: black;
}

.sidebar-nav > .sidebar-brand {
  height: 80px;
  font-size: 40px;
  line-height: 80px;
}


.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  font-size: 30px;
}