body { 
  background: gainsboro; 
}

.colorWheel {
  position: relative;
  width: 800px; height: 800px;
  border-radius: 50%;
  border: solid 4px black;
  background: 
    linear-gradient(36deg, #272b66 42.34%, transparent 42.34%) 0 0,
    linear-gradient(72deg, #2d559f 75.48%, transparent 75.48%) 0 0,
    linear-gradient(-36deg, #9ac147 42.34%, transparent 42.34%) 100% 0,
    linear-gradient(-72deg, #639b47 75.48%, transparent 75.48%) 100% 0, 
    linear-gradient(36deg, transparent 57.66%, #e1e23b 57.66%) 100% 100%,
    linear-gradient(72deg, transparent 24.52%, #f7941e 24.52%) 100% 100%,
    linear-gradient(-36deg, transparent 57.66%, #662a6c 57.66%) 0 100%,
    linear-gradient(-72deg, transparent 24.52%, #9a1d34 24.52%) 0 100%, 
    #43a1cd linear-gradient(#ba3e2e, #ba3e2e) 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  transition: 1s;
}

.colorWheel:after {
  position: absolute;
  top: 50%; left: 50%;
  margin: -100px;
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  background: black;
  content: '';
}

.numberz{
  position: absolute;
  color: white;
}

.zero{
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  top: 253px;
  left: 30px;
}

.one{
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  top: 60px;
  left: 170px;
}

.two{
  top: -10px;
  left: 400px;
}

.three{
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  top: 60px;
  left: 610px;
}

.four{
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  top: 253px;
  left: 750px;
}

.five{
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  top: 490px;
  left: 750px;
}

.six{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  top: 745px;
  left: 390px;
}

.seven{
  -webkit-transform: rotate(-220deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  top: 670px;
  left: 615px;
}

.eight{
  -webkit-transform: rotate(-145deg);
  -moz-transform: rotate(-145deg);
  -ms-transform: rotate(-145deg);
  -o-transform: rotate(-145deg);
  top: 675px;
  left: 165px;
}

.nine{
  -webkit-transform: rotate(-110deg);
  -moz-transform: rotate(-110deg);
  -ms-transform: rotate(-110deg);
  -o-transform: rotate(-110deg);
  top: 490px;
  left: 30px;
}


